@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: oklch(0.505 0.213 27.518); /* --color-red-700 */
}

/* color for darkmode */
:root.dark {
  --color-primary: #12b412;
}

@theme {
  --color-primary: var(--color-primary);
}
